<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>TO DO ~ TA DA</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
		body {
			word-wrap: break-word;
			font-family: 'Montserrat', sans-serif;
		}
        .container {
            margin-top: 150px; 
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <div><img src="../assets/images/tada-logo.png" alt="Ta-Da Logo" id="logo" style="width: 80%"></div>
            <br>
            <a href="/login" class="btn btn-default"> Already have an Account? Login</a>
            <a href="/signup" class="btn btn-default">Are you new? Signup Here</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
</body>

</html>