<!-- views/login.ejs -->
<!doctype html>
<html>

<head>
    <title>TO DO ~ TA DA</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
    	body {
			word-wrap: break-word;
			font-family: 'Montserrat', sans-serif;
		}
    </style>
</head>

<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <div><img src="../assets/images/tada-logo.png" alt="Ta-Da Logo" id="logo" style="width: 100%; padding-top: 40px"></div>
            <h1 style="font-family: 'Montserrat', sans-serif;"> Login</h1>

            <% if (message.length > 0) { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label>Remember Me</label>
                    <input type="checkbox" class="form-control" name="remember" value="yes">
                </div>

                <button type="submit" class="btn btn btn-lg">Login</button>
            </form>

            <hr>

            <p>Need an account? <a href="/signup">Signup</a></p>
            <p>Or go <a href="/">home</a>.</p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
</body>

</html>
